<h1>Lookup Table</h1>

<table id="lookups">
<thead>
  <tr>
    <th>Field Name</th>
    <th>Lookup Text</th>
    <th>Model</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @lookups.each do |lookup| %>
  <tr>
    <td><%= lookup.field_name %></td>
    <td><%= lookup.lookup_text %></td>
    <td><%= lookup.model_name %></td>
    <td><%= lookup.note %></td>
    <td><%= link_to 'Show', lookup, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_lookup_path(lookup), class: 'btn' %></td>
    <td><%= link_to 'Destroy', lookup, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Lookup', new_lookup_path, class: 'btn' %>
