<h1>Listing sentences</h1>

<table class="table table-hover">
  <tr>
    <th width="35%">Language</th>
    <th width="35%">Sentence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sentences.each do |sentence| %>
  <tr>
    <td><%= sentence.language %></td>
    <td><%= sentence.sentence %></td>
    <td><%= link_to 'Show', sentence, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_sentence_path(sentence), class: 'btn' %></td>
    <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sentence', new_sentence_path, class: 'btn' %>