<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @sentence.language %>
</p>

<p>
  <b>Sentence:</b>
  <%= @sentence.sentence %>
</p>


<%= link_to 'Edit', edit_sentence_path(@sentence), class: 'btn' %>
<%= link_to 'Back', sentences_path, class: 'btn' %>
