<p id="notice"><%= notice %></p>

<p>
  <b>Field name:</b>
  <%= @layout_field.field_name %>
</p>

<p>
  <b>Field value:</b>
  <%= @layout_field.field_value %>
</p>

<p>
  <b>Version:</b>
  <%= @layout_field.version %>
</p>

<%= link_to 'Edit', edit_lesson_layout_layout_field_path(@layout_field) %> |
