<p id="notice"><%= notice %></p>

<p>
  <b>Table number:</b>
  <%= @layout_table.table_number %>
</p>

<p>
  <b>Row num:</b>
  <%= @layout_table.row_num %>
</p>

<p>
  <b>Col1:</b>
  <%= @layout_table.col1 %>
</p>

<p>
  <b>Col2:</b>
  <%= @layout_table.col2 %>
</p>

<p>
  <b>Col3:</b>
  <%= @layout_table.col3 %>
</p>

<p>
  <b>Col4:</b>
  <%= @layout_table.col4 %>
</p>

<p>
  <b>Version:</b>
  <%= @layout_table.version %>
</p>



<%= link_to 'Edit', edit_lesson_layout_layout_table_path(@layout_table) %> |


