<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @tag.tag %>
</p>

<p>
  <b>Tag type:</b>
  <%= @tag.tag_type %>
</p>

<p>
  <b>Tag system bitmap:</b>
  <%= @tag.tag_system_bitmap %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
