<table id="units">
<thead>
  <tr>
    <th>Seq</th>
    <th>Unit Name</th>
    <th>Synopsis</th>
    <th>Unit Type</th>
    <th>Status</th>
    <th>Version</th>
    <th>Course id</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>  
  <%  @course.units.each do |unit| %>
    <tr>
      <td><%= unit.seq %></td>
      <td><%= link_to unit.unit_name, [@course, unit] %></td>
      <td><%= unit.synopsis %></td>
      <td><%= unit.unit_type %></td>
      <td><%= unit.status %></td>
      <td><%= unit.version %></td>
      <td><%= unit.course_id%></td>
      <td><%= link_to 'Edit', edit_course_unit_path(@course, unit) %></td>
      <td><%= link_to "Delete", [@course, unit], :method => :delete, :confirm => "Are you sure you want to delete this unit?" %></td>
    </tr>
  <% end %>
    <br>
</tbody>
</table>