<h1>Listing courses</h1>

<table id="courses">
<thead>
  <tr>
    <th>Course name</th>
    <th>Course type</th>
    <th>Synopsis</th>
    <th>Course language</th>
    <th>Status</th>
    <th>Target level</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Version</th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @courses.each do |course| %>
  <tr>
    <td><%= link_to course.course_name, course %></td>
    <td><%= course.course_type %></td>
    <td><%= course.synopsis %></td>
    <td><%= course.course_language %></td>
    <td><%= course.status %></td>
    <td><%= course.target_level %></td>
    <td><%= course.owner %></td>
    <td><%= course.description %></td>
    <td><%= course.version %></td>
    <td><%= link_to 'Edit', edit_course_path(course), class: 'btn' %></td>
    <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure you want to delete this course?' }, class: 'btn' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Course', new_course_path, class: 'btn' %><br><br />
<%= link_to 'Media Catagories', media_catagories_path, class: 'btn' %>
<%= link_to 'Users', users_path, class: 'btn' %>
<%= link_to 'Sentences', sentences_path, class: 'btn' %>
<%= link_to 'Words', words_path, class: 'btn' %>
<%= link_to 'Badges', badges_path, class: 'btn' %>
<%= link_to 'Tags', tags_path,  class: 'btn' %>


