<table id="lessons">
<thead>
  <tr>
    <th>Seq</th>
    <th>Lesson Name</th>
    <th>Synopsis</th>
    <th>Lesson Type</th>
    <th>Status</th>
    <th>Version</th>
    <th>Course id</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>  
  <%  @unit.lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.seq %></td>
      <td><%= link_to lesson.lesson_name, [@unit, lesson] %></td>
      <td><%= lesson.synopsis %></td>
      <td><%= lesson.lesson_type %></td>
      <td><%= lesson.status %></td>
      <td><%= lesson.version %></td>
      <td><%= lesson.unit_id%></td>
      <td><%= link_to 'Edit', edit_unit_lesson_path(@unit, lesson) %></td>
      <td><%= link_to "Delete", [@unit, lesson], :method => :delete, :confirm => "Are you sure you want to delete this lesson?" %></td>
    </tr>
  <% end %>
    <br>
</tbody>
</table>