<h1>Field Data</h1>
<table id="field_data">
  <thead>
  <tr>
    <th>Field Name</th>
    <th>Field Value</th>
    <th>Version</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>  
<% @lesson_layout.layout_fields.each do |layout_field| %>
  <tr>
    <td><%= layout_field.field_name %></td>
    <td><%= layout_field.field_value %></td>
    <td><%= layout_field.version %></td>
    <td><%= link_to 'Edit', edit_lesson_layout_layout_field_path(@lesson_layout, layout_field ) %></td>
    <td><%= link_to "Delete", [@lesson_layout, layout_field], :method => :delete, :confirm => "Are you sure you want to delete this layout field?" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
