<table id="media">
<thead>
  <tr>
    <th>Seq</th>
    <th>Media Name</th>
    <th>Media Filename</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>  
  <%  @media_catagory.media.each do |media| %>
    <tr>
      <td><%= media.seq %></td>
      <td><%= link_to media.media_name, [@media_catagory, media] %></td>
      <td><%= media.media_filename %></td>
      <td><%= link_to 'Edit', edit_media_catagory_media_path(@media_catagory, media), class: 'btn' %></td>
      <td><%= link_to "Delete", [@media_catagory, media], :method => :delete, :confirm => "Are you sure you want to delete this Media?",  class: 'btn' %></td>
    </tr>
  <% end %>
    <br>
</tbody>
</table>